* {
    
}

.navbar {
    background-color: #404244;
}

.nav-link, .nav-item {
    color: #bbaa92 !important;
}

.main {
    background-color: #404244;
}

.footer {
    background-color: #404244;
    color: #bbaa92;
}