* {
    background-color: #404244;
}

.navbar {
    background-color: #404244;
}

.nav-link, .nav-item {
    color: #bbaa92 !important;
}

.jumbotron {
    color: white;
    background-image: url("https://images.ctfassets.net/rporu91m20dc/jZOX9c9IqcwWcuKUG2mY6/47a143d68694bf6b43a20b708c64af8f/data.images.event.221.TundraStreamFULL.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.jumbo-item {
    background-color: transparent !important;
    color: white;
}

.footer {
    background-color: #404244;
    color: #bbaa92;
}